body {
  text-align: center;
  background-color: #011f3f;
}

/********************<HOME>*****************************/
#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  margin: 20px;
  color: #fef2bf;
}
#game-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  border: 4px dashed;
  width: 50%;
  padding: 20px;
  margin: 50px auto 50px;
  color: #fef2bf;
}
#current-progress {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  margin: 10px;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}
#touch-screen-button {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  background-color: #fef2bf;
  padding: 10px;
  width: 180px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.btn {
  margin: 15px;
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 18px solid #02020A;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #FF1B1C;
}

.green {
  background-color: #32DE8A;
}

.blue {
  background-color: #008DD5;
}

.yellow {
  background-color: #EFCA08;
}

.pressed {
  box-shadow: 0 0 60px #7C98B3;
  background-color: #7C98B3;
  transition: box-shadow 0.1s ease, background-color 0.3s ease;
}

.home-link {
  margin: 250px;
}
/*************************<HELP>********************************/

#how-to {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  width: 80%;
  margin: 75px auto 50px;
  color: #fef2ce;
  border: 4px dashed;
  padding: 50px;
}

#how-to-list {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  margin: 60px;
  text-align: left;
  color: #fef2bf;
  margin-bottom: 150px;
}

#how-to-list > li {
  margin: 16px;
  line-height: 20px;
}

#link {
  font-family: "Press Start 2P", cursive;
  font-size: 0.8rem;
  color: #fef2bf;
}


/*************************<LEADERBOARDS>********************************/
#leaderboards-table {
  width: 54%;
  margin: auto;
  margin-bottom: 50px;
}

table {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  color: #fef2bf;
  border-collapse: collapse;
  width: 100%;
  border: 4px dashed #fef2bf; 
}
th, td {
    border: 3px dashed #fef2bf;
    padding: 16px;
    text-align: center;
}
th {
    background-color: #08022B; /* Set background color for header cells */
}
tr:nth-child(even) {
    background-color: #003444; /* Set background color for even rows */
}
tr:nth-child(odd) {
    background-color: #04143D; /* Set background color for odd rows */
}

